<c:grid-row>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>Default</c:t></c:h4>
    <c:accordion>
      <c:accordion-item header="header 1">
        Est elit elit laborum sit incididunt officia cillum. Enim officia ex minim voluptate adipisicing. Ipsum nostrud aliqua labore velit occaecat cillum deserunt excepteur labore. Aliquip deserunt labore velit ad est nisi proident fugiat commodo est. Culpa irure eu laboris enim exercitation duis commodo laboris. Et minim dolore nisi quis amet in ad cillum Lorem culpa dolor.
      </c:accordion-item>
      <c:accordion-item header="header 2">
        Amet veniam adipisicing ex elit proident minim eu voluptate mollit adipisicing cillum qui fugiat. Ex dolor nisi duis voluptate exercitation aliquip laboris aute excepteur sint esse ipsum aute. Est do aliquip id aliquip cupidatat proident sunt nulla.
      </c:accordion-item>
      <c:accordion-item header="header 3">
        Lorem adipisicing id nisi elit ullamco qui culpa. Sunt tempor officia veniam irure est. Ad est anim fugiat excepteur deserunt nisi magna culpa proident.
      </c:accordion-item>
    </c:accordion>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>Always Open</c:t></c:h4>
    <c:accordion always-open>
      <c:accordion-item header="header 1">
        Est elit elit laborum sit incididunt officia cillum. Enim officia ex minim voluptate adipisicing. Ipsum nostrud aliqua labore velit occaecat cillum deserunt excepteur labore. Aliquip deserunt labore velit ad est nisi proident fugiat commodo est. Culpa irure eu laboris enim exercitation duis commodo laboris. Et minim dolore nisi quis amet in ad cillum Lorem culpa dolor.
      </c:accordion-item>
      <c:accordion-item header="header 2">
        Amet veniam adipisicing ex elit proident minim eu voluptate mollit adipisicing cillum qui fugiat. Ex dolor nisi duis voluptate exercitation aliquip laboris aute excepteur sint esse ipsum aute. Est do aliquip id aliquip cupidatat proident sunt nulla.
      </c:accordion-item>
      <c:accordion-item header="header 3">
        Lorem adipisicing id nisi elit ullamco qui culpa. Sunt tempor officia veniam irure est. Ad est anim fugiat excepteur deserunt nisi magna culpa proident.
      </c:accordion-item>
    </c:accordion>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>No Border</c:t></c:h4>
    <c:accordion no-border>
      <c:accordion-item header="header 1">
        Est elit elit laborum sit incididunt officia cillum. Enim officia ex minim voluptate adipisicing. Ipsum nostrud aliqua labore velit occaecat cillum deserunt excepteur labore. Aliquip deserunt labore velit ad est nisi proident fugiat commodo est. Culpa irure eu laboris enim exercitation duis commodo laboris. Et minim dolore nisi quis amet in ad cillum Lorem culpa dolor.
      </c:accordion-item>
      <c:accordion-item header="header 2">
        Amet veniam adipisicing ex elit proident minim eu voluptate mollit adipisicing cillum qui fugiat. Ex dolor nisi duis voluptate exercitation aliquip laboris aute excepteur sint esse ipsum aute. Est do aliquip id aliquip cupidatat proident sunt nulla.
      </c:accordion-item>
      <c:accordion-item header="header 3">
        Lorem adipisicing id nisi elit ullamco qui culpa. Sunt tempor officia veniam irure est. Ad est anim fugiat excepteur deserunt nisi magna culpa proident.
      </c:accordion-item>
    </c:accordion>
  </c:grid-col>
</c:grid-row>
