<c:grid-row>
  <c:grid-col col="6-md">
    <c:h4><c:t>Color</c:t></c:h4>
    <c:alert color="primary">Quis duis laboris sit ut labore ullamco anim veniam nostrud cupidatat mollit culpa esse ea.</c:alert>
    <c:alert color="secondary">Consequat aliqua magna velit proident.</c:alert>
    <c:alert color="success">Sint officia enim irure mollit nostrud qui.</c:alert>
    <c:alert color="warning">Dolore fugiat in duis eu irure sunt exercitation velit occaecat in culpa.</c:alert>
    <c:alert color="danger">Aliqua non aliquip in occaecat Lorem sit.</c:alert>
    <c:alert color="info">Ad commodo pariatur cupidatat proident consequat eiusmod ullamco exercitation nisi mollit minim Lorem.</c:alert>
    <c:alert color="light">Anim reprehenderit culpa incididunt sunt nisi excepteur velit.</c:alert>
    <c:alert color="dark">Ea voluptate dolor sunt sit in occaecat elit proident ut est deserunt.</c:alert>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4><c:t>Dismiss Button</c:t></c:h4>
    <c:alert color="primary" dismiss>Quis duis laboris sit ut labore ullamco anim veniam nostrud cupidatat mollit culpa esse ea.</c:alert>
    <c:h4><c:t>Icon</c:t></c:h4>
    <c:alert color="success" icon="house">Eu nostrud consectetur cupidatat deserunt eiusmod pariatur dolor sint minim enim nostrud irure in.</c:alert>
    <c:h4><c:t>Auto Link Color</c:t></c:h4>
    <c:alert color="danger">Est deserunt tempor <a href="#">aute do ea dolore sunt nostrud</a> occaecat ipsum sint qui veniam consequat.</c:alert>
    <c:h4><c:t>With heading</c:t></c:h4>
    <c:alert color="secondary">
      <h5>Dolore eiusmod minim quis pariatur commodo.</h5>
      <p>Laborum consectetur commodo elit magna culpa qui excepteur culpa nostrud.</p>
    </c:alert>
  </c:grid-col>
</c:grid-row>
