<c:grid-row>
  <c:grid-col col="6-md">
    <c:h4 t:content="Basic" />
    <c:badge text="background:primary" t:content="Primary" />
    <c:badge text="background:secondary" t:content="Secondary" />
    <c:badge text="background:success" t:content="Success" />
    <c:badge text="background:warning" t:content="Warning" />
    <c:badge text="background:danger" t:content="Danger" />
    <c:badge text="background:info" t:content="Info" />
    <c:badge text="background:light" t:content="Light" />
    <c:badge text="background:dark" t:content="Dark" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Pill" />
    <c:badge text="background:primary" rounded="type:pill" t:content="Primary" />
    <c:badge text="background:secondary" rounded="type:pill" t:content="Secondary" />
    <c:badge text="background:success" rounded="type:pill" t:content="Success" />
    <c:badge text="background:warning" rounded="type:pill" t:content="Warning" />
    <c:badge text="background:danger" rounded="type:pill" t:content="Danger" />
    <c:badge text="background:info" rounded="type:pill" t:content="Info" />
    <c:badge text="background:light" rounded="type:pill" t:content="Light" />
    <c:badge text="background:dark" rounded="type:pill" t:content="Dark" />
  </c:grid-col>
</c:grid-row>
<c:grid-row margin="top-5">
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="On Button" />
    <c:btn color="primary" position="relative"><c:t>Button</c:t>
      <c:badge background="color:success" alt="new" t:content="New" />
    </c:btn>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Positioned" />
    <c:btn color="primary" position="relative"><c:t>Button</c:t>
      <c:badge position="absolute top-0 start-100 true" rounded="type:pill" background="color:danger" alt="99+">99+</c:badge>
    </c:btn>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="On Button" />
    <c:btn color="primary" position="relative"><c:t>Button</c:t>
      <c:badge dot position="absolute top-0 start-100 true" border="color:light" rounded="type:pill" background="color:danger" alt="99+">99+</c:badge>
    </c:btn>
  </c:grid-col>
</c:grid-row>