<c:grid-row>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>Pill</c:t></c:h4>
    <c:breadcrumb>
      <c:breadcrumb-item href="#">Home</c:breadcrumb-item>
      <c:breadcrumb-item href="#">About Us</c:breadcrumb-item>
      <c:breadcrumb-item active="page">Contact</c:breadcrumb-item>
    </c:breadcrumb>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>Custom Divider</c:t></c:h4>
    <c:breadcrumb divider=">">
      <c:breadcrumb-item href="#">Home</c:breadcrumb-item>
      <c:breadcrumb-item href="#">About Us</c:breadcrumb-item>
      <c:breadcrumb-item active="page">Contact</c:breadcrumb-item>
    </c:breadcrumb>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4><c:t>No Divider</c:t></c:h4>
    <c:breadcrumb no-divider>
      <c:breadcrumb-item href="#">Home</c:breadcrumb-item>
      <c:breadcrumb-item href="#">About Us</c:breadcrumb-item>
      <c:breadcrumb-item active="page">Contact</c:breadcrumb-item>
    </c:breadcrumb>
  </c:grid-col>
</c:grid-row>