<c:h4 t:content="Color" />
<c:div>
  <c:btn color="primary" t:content="Primary" />
  <c:btn color="secondary" t:content="Secondary" />
  <c:btn color="success" t:content="Success" />
  <c:btn color="warning" t:content="Warning" />
  <c:btn color="danger" t:content="Danger" />
  <c:btn color="info" t:content="Info" />
  <c:btn color="light" t:content="Light" />
  <c:btn color="dark" t:content="Dark" />
  <c:btn color="link" href="#" t:content="Link" />
</c:div>
<c:h4 margin="top-3" t:content="Outline" />
<c:div>
  <c:btn color="primary-outline" t:content="Primary" />
  <c:btn color="secondary-outline" t:content="Secondary" />
  <c:btn color="success-outline" t:content="Success" />
  <c:btn color="warning-outline" t:content="Warning" />
  <c:btn color="danger-outline" t:content="Danger" />
  <c:btn color="info-outline" t:content="Info" />
  <c:btn color="light-outline" t:content="Light" />
  <c:btn color="dark-outline" t:content="Dark" />
  <c:btn color="link-outline" href="#" t:content="Link" />
</c:div>
<c:grid-row gutter="4" margin="top-3">
  <c:grid-col col="6-md">
    <c:h4 t:content="Size" />
    <c:btn color="secondary" size="sm" t:content="Size: %s|small" />
    <c:btn color="secondary" size="md" t:content="Size: %s|medium" />
    <c:btn color="secondary" size="lg" t:content="Size: %s|large" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="State" />
    <c:btn active color="primary" t:content="State: %s|active" />
    <c:btn disabled color="primary" t:content="State: %s|disabled" />
    <c:btn toggle color="primary" t:content="State: %s|toggle" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Block" />
    <c:div display="type:grid gap:2">
      <c:btn color="primary" t:content="Button %d|1" />
      <c:btn color="primary" t:content="Button %d|2" />
    </c:div>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Icon" />
    <c:btn icon="arrowStart" color="primary" t:content="Start" />
    <c:btn icon-end="arrowEnd" color="primary" t:content="End" />
    <c:btn icon="arrowStart" icon-end="arrowEnd" color="primary" t:content="Both" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Close Button" />
    <c:btn-close />
    <c:btn-close disabled/>
  </c:grid-col>
</c:grid-row>
