<c:h4><c:t>Color</c:t></c:h4>
<c:div>
  <c:btn color="primary"><c:t>Primary</c:t></c:btn>
  <c:btn color="secondary"><c:t>Secondary</c:t></c:btn>
  <c:btn color="success"><c:t>Success</c:t></c:btn>
  <c:btn color="warning"><c:t>Warning</c:t></c:btn>
  <c:btn color="danger"><c:t>Danger</c:t></c:btn>
  <c:btn color="info"><c:t>Info</c:t></c:btn>
  <c:btn color="light"><c:t>Light</c:t></c:btn>
  <c:btn color="dark"><c:t>Dark</c:t></c:btn>
  <c:btn color="link" href="#"><c:t>Link</c:t></c:btn>
</c:div>
<c:h4 margin="top:3"><c:t>Outline</c:t></c:h4>
<c:div>
  <c:btn color="primary-outline"><c:t>Primary</c:t></c:btn>
  <c:btn color="secondary-outline"><c:t>Secondary</c:t></c:btn>
  <c:btn color="success-outline"><c:t>Success</c:t></c:btn>
  <c:btn color="warning-outline"><c:t>Warning</c:t></c:btn>
  <c:btn color="danger-outline"><c:t>Danger</c:t></c:btn>
  <c:btn color="info-outline"><c:t>Info</c:t></c:btn>
  <c:btn color="light-outline"><c:t>Light</c:t></c:btn>
  <c:btn color="dark-outline"><c:t>Dark</c:t></c:btn>
  <c:btn color="link-outline" href="#"><c:t>Link</c:t></c:btn>
</c:div>
<c:grid-row margin="top:3">
  <c:grid-col col="6-md">
    <c:h4><c:t>Size</c:t></c:h4>
    <c:btn color="secondary" size="sm"><c:t t:value="small">Size: %s</c:t></c:btn>
    <c:btn color="secondary" size="md"><c:t t:value="medium">Size: %s</c:t></c:btn>
    <c:btn color="secondary" size="lg"><c:t t:value="large">Size: %s</c:t></c:btn>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4><c:t>State</c:t></c:h4>
    <c:btn active color="primary"><c:t value="active">State: %s</c:t></c:btn>
    <c:btn disabled color="primary"><c:t value="disabled">State: %s</c:t></c:btn>
    <c:btn toggle color="primary"><c:t value="toggle">State: %s</c:t></c:btn>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4><c:t>Block</c:t></c:h4>
    <c:div display="type:grid gap:2">
      <c:btn color="primary"><c:t value="1">Button %d</c:t></c:btn>
      <c:btn color="primary"><c:t value="2">Button %d</c:t></c:btn>
    </c:div>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4><c:t>Icon</c:t></c:h4>
    <c:btn icon="arrowStart" color="primary"><c:t>Start</c:t></c:btn>
    <c:btn icon-end="arrowEnd" color="primary"><c:t>End</c:t></c:btn>
    <c:btn icon="arrowStart" icon-end="arrowEnd" color="primary"><c:t>Both</c:t></c:btn>
  </c:grid-col>
</c:grid-row>
