<c:h4><c:t>Color</c:t></c:h4>
<c:div margin="bottom:2">
  <c:btn color="primary"><c:t>Primary</c:t></c:btn>
  <c:btn color="secondary"><c:t>Secondary</c:t></c:btn>
  <c:btn color="success"><c:t>Success</c:t></c:btn>
  <c:btn color="warning"><c:t>Warning</c:t></c:btn>
  <c:btn color="danger"><c:t>Danger</c:t></c:btn>
  <c:btn color="info"><c:t>Info</c:t></c:btn>
  <c:btn color="light"><c:t>Light</c:t></c:btn>
  <c:btn color="dark"><c:t>Dark</c:t></c:btn>
  <c:btn color="link"><c:t>Link</c:t></c:btn>
</c:div>
<c:div margin="bottom:2">
  <c:btn color="primary-outline"><c:t>Primary</c:t></c:btn>
  <c:btn color="secondary-outline"><c:t>Secondary</c:t></c:btn>
  <c:btn color="success-outline"><c:t>Success</c:t></c:btn>
  <c:btn color="warning-outline"><c:t>Warning</c:t></c:btn>
  <c:btn color="danger-outline"><c:t>Danger</c:t></c:btn>
  <c:btn color="info-outline"><c:t>Info</c:t></c:btn>
  <c:btn color="light-outline"><c:t>Light</c:t></c:btn>
  <c:btn color="dark-outline"><c:t>Dark</c:t></c:btn>
  <c:btn color="link-outline"><c:t>Link</c:t></c:btn>
</c:div>
<c:h4><c:t>Size</c:t></c:h4>
<c:div margin="bottom:2">
  <c:btn color="secondary" size="sm"><c:t t:value="small">Size: %s</c:t></c:btn>
  <c:btn color="secondary" size="md"><c:t t:value="medium">Size: %s</c:t></c:btn>
  <c:btn color="secondary" size="lg"><c:t t:value="large">Size: %s</c:t></c:btn>
</c:div>
<c:h4><c:t>State</c:t></c:h4>
<c:div margin="bottom:2">
  <c:btn active><c:t value="active">State: %s</c:t></c:btn>
  <c:btn disabled><c:t value="disabled">State: %s</c:t></c:btn>
  <c:btn toggle><c:t value="toggle">State: %s</c:t></c:btn>
  <c:btn toggle active><c:t value="toggle-active">State: %s</c:t></c:btn>
</c:div>
<c:h4><c:t>Group</c:t></c:h4>
<c:btn-group t:aria-label="Size: %s|t:extra-small" margin="bottom:2">
  <c:btn color="secondary" icon="house"><c:t>Button</c:t></c:btn>
  <c:btn color="secondary" ><c:t>Button</c:t></c:btn>
  <c:btn active color="primary"><c:t value="active">State: %s</c:t></c:btn>
</c:btn-group>
