<c:grid-row gutter="4">
  <c:grid-col col="6-md">
    <c:h4 t:content="Basic" />
    <c:collapse>
      <c:collapse-item t:caption="One">Aliqua adipisicing culpa occaecat occaecat adipisicing aliqua ad. Exercitation ipsum pariatur enim et deserunt quis quis pariatur elit do. Aliqua sint culpa enim pariatur exercitation aliqua.</c:collapse-item>
      <c:collapse-item t:caption="Two">Ad aute ipsum nulla ullamco culpa ex voluptate adipisicing quis laboris officia non adipisicing est. Cillum enim aliqua reprehenderit ex eu esse sit exercitation do. Tempor ipsum proident consequat fugiat ad labore laborum officia fugiat eiusmod voluptate culpa et. Elit id minim sit veniam cupidatat id eiusmod pariatur Lorem minim. Consectetur minim eiusmod ipsum fugiat ea non incididunt. Enim reprehenderit nostrud cillum tempor ipsum aliquip in consectetur esse. Ea anim qui nulla do nisi.</c:collapse-item>
    </c:collapse>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Toggle All" />
    <c:collapse toggle-all>
      <c:collapse-item t:caption="One">Aliqua adipisicing culpa occaecat occaecat adipisicing aliqua ad. Exercitation ipsum pariatur enim et deserunt quis quis pariatur elit do. Aliqua sint culpa enim pariatur exercitation aliqua.</c:collapse-item>
      <c:collapse-item t:caption="Two">Ad aute ipsum nulla ullamco culpa ex voluptate adipisicing quis laboris officia non adipisicing est. Cillum enim aliqua reprehenderit ex eu esse sit exercitation do. Tempor ipsum proident consequat fugiat ad labore laborum officia fugiat eiusmod voluptate culpa et. Elit id minim sit veniam cupidatat id eiusmod pariatur Lorem minim. Consectetur minim eiusmod ipsum fugiat ea non incididunt. Enim reprehenderit nostrud cillum tempor ipsum aliquip in consectetur esse. Ea anim qui nulla do nisi.</c:collapse-item>
    </c:collapse>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Grouped" />
    <c:collapse toggle-all group>
      <c:collapse-item t:caption="One">Aliqua adipisicing culpa occaecat occaecat adipisicing aliqua ad. Exercitation ipsum pariatur enim et deserunt quis quis pariatur elit do. Aliqua sint culpa enim pariatur exercitation aliqua.</c:collapse-item>
      <c:collapse-item t:caption="Two">Ad aute ipsum nulla ullamco culpa ex voluptate adipisicing quis laboris officia non adipisicing est. Cillum enim aliqua reprehenderit ex eu esse sit exercitation do. Tempor ipsum proident consequat fugiat ad labore laborum officia fugiat eiusmod voluptate culpa et. Elit id minim sit veniam cupidatat id eiusmod pariatur Lorem minim. Consectetur minim eiusmod ipsum fugiat ea non incididunt. Enim reprehenderit nostrud cillum tempor ipsum aliquip in consectetur esse. Ea anim qui nulla do nisi.</c:collapse-item>
    </c:collapse>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Custom Trigger" />
    <c:collapse trigger-tag="a" trigger-margin="end-3">
      <c:collapse-item t:caption="One" icon="caretDown">Aliqua adipisicing culpa occaecat occaecat adipisicing aliqua ad. Exercitation ipsum pariatur enim et deserunt quis quis pariatur elit do. Aliqua sint culpa enim pariatur exercitation aliqua.</c:collapse-item>
      <c:collapse-item t:caption="Two">Ad aute ipsum nulla ullamco culpa ex voluptate adipisicing quis laboris officia non adipisicing est. Cillum enim aliqua reprehenderit ex eu esse sit exercitation do. Tempor ipsum proident consequat fugiat ad labore laborum officia fugiat eiusmod voluptate culpa et. Elit id minim sit veniam cupidatat id eiusmod pariatur Lorem minim. Consectetur minim eiusmod ipsum fugiat ea non incididunt. Enim reprehenderit nostrud cillum tempor ipsum aliquip in consectetur esse. Ea anim qui nulla do nisi.</c:collapse-item>
    </c:collapse>
  </c:grid-col>
</c:grid-row>