<c:grid-row gutter="4">
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Basic" />
    <c:nav>
      <c:nav-item t:content="Sunday" />
      <c:nav-item t:content="Monday" />
      <c:nav-item t:content="Tuesday" />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Active & Disabled" />
    <c:nav>
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Tabs" />
    <c:nav type="tabs">
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Pills" />
    <c:nav type="pills">
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Underline" />
    <c:nav type="underline">
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Justify" />
    <c:nav type="pills" fill>
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Dropdown" />
    <c:nav type="tabs">
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Dropdown" dropdown>
        <c:dropdown-item t:content="Sumatera" />
        <c:dropdown-item t:content="Java" />
        <c:dropdown-item t:content="Borneo" />
        <c:dropdown-item t:content="Celebes" />
        <c:dropdown-item t:content="Papua" icon="house" />
      </c:nav-item>
    </c:nav>
  </c:grid-col>
  <c:grid-col col="6-sm 4-lg">
    <c:h4 t:content="Vertical" />
    <c:nav type="pills" flex="column">
      <c:nav-item t:content="Active" active />
      <c:nav-item t:content="Normal" />
      <c:nav-item t:content="Disabled" disabled />
    </c:nav>
  </c:grid-col>
</c:grid-row>