<c:grid-row>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Basic Heading" />
    <c:heading type="1" t:content="Heading %d|1" />
    <c:heading type="2" t:content="Heading %d|2" />
    <c:heading type="3" t:content="Heading %d|3" />
    <c:heading type="4" t:content="Heading %d|4" />
    <c:heading type="5" t:content="Heading %d|5" />
    <c:heading type="6" t:content="Heading %d|6" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Display Heading" />
    <c:heading type="1-display" t:content="Heading %d|1" />
    <c:heading type="2-display" t:content="Heading %d|2" />
    <c:heading type="3-display" t:content="Heading %d|3" />
    <c:heading type="4-display" t:content="Heading %d|4" />
    <c:heading type="5-display" t:content="Heading %d|5" />
    <c:heading type="6-display" t:content="Heading %d|6" />
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Lead" />
    <c:lead>Ipsum culpa commodo aute consequat eiusmod adipisicing nisi non</c:lead>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Blockquote" />
    <c:blockquote>Adipisicing aute enim occaecat nostrud officia commodo eiusmod aliqua et consequat.</c:blockquote>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Blockquote With Attribution" />
    <c:blockquote attribution="Mollit pariatur laboris">Adipisicing aute enim occaecat nostrud officia commodo eiusmod aliqua et consequat.</c:blockquote>
  </c:grid-col>
</c:grid-row>
