<c:grid-row>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Basic" />
    <c:breadcrumb>
      <c:breadcrumb-item href="#" t:content="Home" />
      <c:breadcrumb-item href="#" t:content="About Us" />
      <c:breadcrumb-item active="page" t:content="Contact" />
    </c:breadcrumb>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Custom Divider" />
    <c:breadcrumb divider=">">
      <c:breadcrumb-item href="#" t:content="Home" />
      <c:breadcrumb-item href="#" t:content="About Us" />
      <c:breadcrumb-item active="page" t:content="Contact" />
    </c:breadcrumb>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="No Divider" />
    <c:breadcrumb no-divider>
      <c:breadcrumb-item href="#" t:content="Home" />
      <c:breadcrumb-item href="#" t:content="About Us" />
      <c:breadcrumb-item active="page" t:content="Contact" />
    </c:breadcrumb>
  </c:grid-col>
</c:grid-row>