---
scripts:
  - waibuExtra.virtual:/holderjs/holder.min.js
---
<c:grid-row gutter="4">
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Basic" />
    <c:card>
      <c:img holder="300x200" dim="width:100" />
      <c:card-body>
        <c:card-title t:content="Title" />
        <c:card-text content="In adipisicing non nostrud nulla. Ut elit incididunt ad sint. Aute deserunt non elit velit id dolore dolore id ullamco ad irure laboris." />
        <c:btn t:content="Submit" color="primary" />
      </c:card-body>
    </c:card>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="With Card Link" />
    <c:card>
      <c:card-body>
        <c:card-title t:content="Title" />
        <c:card-subtitle t:content="Subtitle" />
        <c:card-text content="Velit cillum cupidatat irure sint officia aliquip. Cupidatat proident sunt non labore labore. Aliquip incididunt amet aute magna aliquip occaecat non nisi et nisi ullamco ad. Incididunt laborum commodo qui dolore aliquip quis dolore nulla et anim laborum ut sit." />
      </c:card-body>
      <c:card-footer>
        <c:card-link t:content="Back" />
        <c:card-link t:content="Forward" />
      </c:card-footer>
    </c:card>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="With List Group" />
    <c:card>
      <c:card-header t:content="Header" />
      <c:list type="group" hover>
        <c:list-item t:content="Sunday" badge="10" badge-background="color:primary"/>
        <c:list-item t:content="Monday" badge="5" badge-background="color:danger"/>
        <c:list-item t:content="Tuesday" />
        <c:list-item t:content="Wednesday" />
        <c:list-item t:content="Thursday" />
        <c:list-item t:content="Friday" badge="5" badge-background="color:success"/>
        <c:list-item t:content="Saturday" />
      </c:list>
    </c:card>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="With Tabs" />
    <c:card>
      <c:card-header>
        <c:nav type="tabs">
          <c:nav-item t:content="Home" active />
          <c:nav-item t:content="About Us" />
          <c:nav-item t:content="Contact" />
        </c:nav>
      </c:card-header>
      <c:card-body>
        <c:card-title t:content="Title" />
        <c:card-subtitle t:content="Subtitle" />
        <c:card-text content="Ullamco laboris magna nostrud do cillum. Eiusmod dolor esse cupidatat laboris non adipisicing culpa fugiat. In fugiat elit duis velit est. Ex commodo tempor ex anim id. Nostrud proident labore commodo proident laborum consectetur cupidatat duis cillum ut aliqua sit laboris proident." />
      </c:card-body>
    </c:card>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Background Color" />
    <c:card text="background:danger">
      <c:card-header t:content="Header" />
      <c:card-body>
        <c:card-title t:content="Title" />
        <c:card-text content="Officia irure amet laborum irure aute tempor. Sint elit amet occaecat cupidatat velit tempor irure." />
      </c:card-body>
    </c:card>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Border Color" />
    <c:card border="color:primary">
      <c:card-header t:content="Header" />
      <c:card-body>
        <c:card-title t:content="Title" />
        <c:card-text content="Officia irure amet laborum irure aute tempor. Sint elit amet occaecat cupidatat velit tempor irure." />
      </c:card-body>
    </c:card>
  </c:grid-col>
  <c:grid-col col="12">
    <c:h4 t:content="Group" />
    <c:card-group>
      <c:card>
        <c:img holder="300x100" dim="width:100"/>
        <c:card-body>
          <c:card-text>
            Reprehenderit anim duis aute dolore ipsum ea ad enim voluptate. Sint nulla esse ad ex consectetur et occaecat nostrud. Irure nulla voluptate non aliquip sint incididunt in aute.
          </c:card-text>
        </c:card-body>
        <c:card-footer t:content="Footer" />
      </c:card>
      <c:card>
        <c:img holder="300x100" dim="width:100"/>
        <c:card-body>
          <c:card-text>
            Ex ad cupidatat nisi et nisi. Pariatur culpa anim in aliqua. Irure culpa officia dolor reprehenderit cillum duis incididunt veniam duis. Nisi amet cupidatat cupidatat aliqua pariatur laborum eiusmod officia nulla voluptate deserunt aute excepteur. Id consequat eiusmod reprehenderit amet incididunt commodo ex deserunt deserunt.
          </c:card-text>
        </c:card-body>
        <c:card-footer t:content="Footer" />
      </c:card>
      <c:card>
        <c:img holder="300x100" dim="width:100"/>
        <c:card-body>
          <c:card-text>
            Nisi ad anim cupidatat tempor adipisicing duis ullamco quis ex nulla aute veniam fugiat elit. Pariatur labore pariatur dolore reprehenderit consequat et. Incididunt ullamco dolore enim eu quis.
          </c:card-text>
        </c:card-body>
        <c:card-footer t:content="Footer" />
      </c:card>
    </c:card-group>
  </c:grid-col>
</c:grid-row>
