---
scripts:
  - waibuExtra.virtual:/holderjs/holder.min.js
---
<c:grid-row gutter="4">
  <c:grid-col col="6-md">
    <c:h4 t:content="Basic"/>
    <c:carousel>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Indicator" />
    <c:carousel indicator>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Captions & No Navigation" />
    <c:carousel indicator no-navigation>
      <c:carousel-item t:caption="Caption %d|1" description="Reprehenderit ipsum non duis.">
        <c:img holder="300x300" />
      </c:carousel-item>
      <c:carousel-item t:caption="Caption %d|2" description="Anim laborum occaecat tempor qui adipisicing labore occaecat cillum incididunt ad irure.">
        <c:img holder="300x300" />
      </c:carousel-item>
      <c:carousel-item t:caption="Caption %d|3" description="Labore eiusmod aliquip mollit amet tempor.">
        <c:img holder="300x300" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Crossfade & Activate Custom Slide" />
    <c:carousel fade indicator>
      <c:carousel-item t:caption="Caption %d|1" description="Reprehenderit ipsum non duis.">
        <c:img holder="300x300" />
      </c:carousel-item>
      <c:carousel-item active t:caption="Caption %d|2" description="Anim laborum occaecat tempor qui adipisicing labore occaecat cillum incididunt ad irure.">
        <c:img holder="300x300" />
      </c:carousel-item>
      <c:carousel-item t:caption="Caption %d|3" description="Labore eiusmod aliquip mollit amet tempor.">
        <c:img holder="300x300" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Auto Play" />
    <c:carousel auto-play>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Disable Touch" />
    <c:carousel no-touch>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
      <c:carousel-item>
        <c:img holder="300x200" />
      </c:carousel-item>
    </c:carousel>
  </c:grid-col>
</c:grid-row>