<c:grid-row gutter="4">
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Basic List" />
    <c:list>
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Ordered List" />
    <c:list ordered>
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Unstyled List" />
    <c:list type="unstyled">
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="Inline List" />
    <c:list type="inline">
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="List Group" />
    <c:list type="group">
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="List Group Hover" />
    <c:list type="group" hover>
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="List Group No Border" />
    <c:list type="group" no-border hover>
      <c:list-item t:content="Sunday" />
      <c:list-item t:content="Monday" />
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" />
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
  <c:grid-col col="6-md 4-lg">
    <c:h4 t:content="List Group With Badge" />
    <c:list type="group" hover>
      <c:list-item t:content="Sunday" badge="10" badge-background="color:primary"/>
      <c:list-item t:content="Monday" badge="5" badge-background="color:danger"/>
      <c:list-item t:content="Tuesday" />
      <c:list-item t:content="Wednesday" />
      <c:list-item t:content="Thursday" />
      <c:list-item t:content="Friday" badge="5" badge-background="color:success"/>
      <c:list-item t:content="Saturday" />
    </c:list>
  </c:grid-col>
</c:grid-row>
