<c:grid-row gutter="4">
  <c:grid-col col="6-md">
    <c:h4 t:content="Center & Zoom" />
    <c:wmaps-map style="height:300px" center="4.9041 52.3676" zoom="5"/>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Custom Style & Navigation" />
    <c:wmaps-map style="height:300px" map-style="https://demotiles.maplibre.org/style.json">
      <c:wmaps-control-navigation visualize-pitch/>
    </c:wmaps-map>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Fullscreen, Scale" />
    <c:wmaps-map style="height:300px">
      <c:wmaps-control-fullscreen position="top-left" />
      <c:wmaps-control-scale unit="imperial" />
    </c:wmaps-map>
  </c:grid-col>
  <c:grid-col col="6-md">
    <c:h4 t:content="Attribution, Geolocate" />
    <c:wmaps-map style="height:300px">
      <c:wmaps-control-geolocate />
      <c:wmaps-control-attribution text="Waibu" />
    </c:wmaps-map>
  </c:grid-col>
</c:grid-row>