---
scripts:
  - waibuExtra.virtual:/masonry/masonry.pkgd.min.js
---
<c:masonry gutter="4">
  <c:card>
    <c:card-body>
      <c:card-title t:content="Title" />
      <c:card-text>Sit est reprehenderit pariatur ut aliqua laborum ullamco sunt fugiat. Consectetur do proident eu eu et. Eu do mollit consectetur enim tempor nostrud nulla commodo duis. Excepteur proident elit non duis. Officia consectetur mollit ea esse.</c:card-text>
    </c:card-body>
  </c:card>
  <c:card>
    <c:card-body>
      <c:card-text>Voluptate exercitation incididunt nostrud enim. Excepteur velit fugiat Lorem ea nulla enim nisi irure. Minim pariatur labore esse dolor excepteur nisi adipisicing reprehenderit. Minim pariatur dolor quis sit ut amet officia. Velit velit ipsum incididunt elit magna voluptate. Deserunt aliqua aliqua aliquip ipsum eiusmod et. Elit elit aliquip ad in culpa.</c:card-text>
    </c:card-body>
    <c:card-footer>
      <c:card-link t:content="Contact Us" />
    </c:card-footer>
  </c:card>
  <c:card>
    <c:card-body>
      <c:card-text>Amet aliquip pariatur nulla tempor adipisicing ullamco sit ex proident velit elit non. Ea nulla elit in nostrud aliquip elit ullamco do nulla ullamco. Adipisicing cupidatat anim fugiat enim laborum nulla anim quis ipsum velit. Aute fugiat amet eu ea laboris ullamco qui quis sit. Magna exercitation cupidatat in fugiat culpa mollit eiusmod aliquip do. Nulla qui cillum qui dolore qui do esse.</c:card-text>
    </c:card-body>
    <c:list type="group" hover>
      <c:list-item content="Jakarta" />
      <c:list-item content="Bandung" />
      <c:list-item content="Bogor" />
      <c:list-item content="Semarang" />
      <c:list-item content="Surabaya" />
    </c:list>
  </c:card>
  <c:card>
    <c:img holder="300x150" dim="width:100" />
    <c:card-body>
      <c:card-text>Irure deserunt deserunt duis enim aliqua ad eiusmod exercitation ullamco deserunt voluptate officia laborum. Duis dolore dolore excepteur aute est sint consectetur qui magna. Aliquip et sunt sit esse consequat fugiat anim laborum. Id nisi proident deserunt mollit sunt labore occaecat pariatur cillum magna consectetur magna occaecat aute.</c:card-text>
    </c:card-body>
  </c:card>
  <c:card>
    <c:card-header t:content="Header" />
    <c:card-body>
      <c:card-text>Ex enim eiusmod eiusmod aliquip nostrud veniam aute eiusmod. Deserunt deserunt nisi voluptate do aliqua magna dolor. Anim sint cillum consectetur esse veniam dolor eu aute ea dolore in officia. Officia ea exercitation deserunt amet ad ad nisi ipsum. Nulla ullamco nulla aute proident velit deserunt culpa sint reprehenderit pariatur.</c:card-text>
    </c:card-body>
    <c:card-footer t:content="Footer" />
  </c:card>
  <c:card>
    <c:card-body>
      <c:card-text>Velit veniam commodo est fugiat esse aliqua elit esse ipsum et esse amet. Fugiat enim cupidatat tempor culpa. Id consectetur fugiat amet aliqua nostrud quis reprehenderit.</c:card-text>
      <c:btn color="success" t:content="Go Back Home" />
    </c:card-body>
  </c:card>
</c:masonry>