<c:navbar position="type:sticky-top" border="side:bottom" background="color:primary-subtle" container expandable padding="y-0">
  <c:app-launcher-trigger class="navbar-brand" img-dim-height="46" img-dim-width="46" margin="top-2 bottom-2" padding="all-0" x-data @click="wbs.appLauncher()"/>
  <c:navbar-text margin="end-3">
    <c:heading type="5" content="<%= page.title %>" margin="all-0"/>
  </c:navbar-text>
  <c:nav tag="ul">
    <c:nav-item dropdown-menu-max="10" content="<%= _titleize(_meta.theme.name) %>">
      <% for (const theme of themes ) { %>
      <% const href = _meta.route.replace(':theme', theme.name).replace(':iconset', _meta.iconset.name).replace(':page', _meta.params.page) %>
      <c:dropdown-item <% if (theme.name === _meta.theme.name) { print(' active') } %> href="<%= href %>" content="<%= _titleize(theme.name) %>" />
      <% } %>
    </c:nav-item>
    <c:nav-item dropdown-menu-scroll dropdown content="<%= _titleize(_meta.iconset.name) %>">
      <% for (const iconset of iconsets ) { %>
      <% const href = _meta.route.replace(':theme', _meta.theme.name).replace(':iconset', iconset.name).replace(':page', _meta.params.page) %>
      <c:dropdown-item <% if (iconset.name === _meta.iconset.name) { print(' active') } %> href="<%= href %>" content="<%= _titleize(iconset.name) %>" />
      <% } %>
    </c:nav-item>
  </c:nav>
  <c:nav tag="ul" dim="width:100" flex="justify-content:end">
    <c:nav-dropdown-user />
    <c:nav-divider />
    <c:nav-toggle-fullscreen />
    <c:nav-dropdown-darkmode dropdown-menu="end" />
    <c:nav-dropdown-language dropdown-menu="end" />
  </c:nav>
</c:navbar>
