<c:navbar position="type:sticky-top" background="color:primary-subtle" text="color:white" container expandable>
  <c:navbar-brand t:content="Weibu MPA Components" />
  <c:nav tag="ul">
    <c:nav-item dropdown-menu-scroll content="<%= _titleize(_meta.theme.name) %>">
      <% for (const theme of themes ) { %>
      <% const href = _meta.route.replace(':theme', theme.name).replace(':iconset', _meta.iconset.name).replace(':page', _meta.params.page) %>
      <c:dropdown-item <% if (theme.name === _meta.theme.name) { print(' active') } %> href="<%= href %>" content="<%= _titleize(theme.name) %>" />
      <% } %>
    </c:nav-item>
    <c:nav-item dropdown-menu-scroll dropdown content="<%= _titleize(_meta.iconset.name) %>">
      <% for (const iconset of iconsets ) { %>
      <% const href = _meta.route.replace(':theme', _meta.theme.name).replace(':iconset', iconset.name).replace(':page', _meta.params.page) %>
      <c:dropdown-item <% if (iconset.name === _meta.iconset.name) { print(' active') } %> href="<%= href %>" content="<%= _titleize(iconset.name) %>" />
      <% } %>
    </c:nav-item>
  </c:nav>
  <c:nav tag="ul" dim="width:100" flex="justify-content:end">
    <c:nav-selector-darkmode dropdown-menu="end" />
    <c:nav-selector-language dropdown-menu="end" />
  </c:nav>
</c:navbar>
