<c:div flex="justify-content:between">
  <c:h3 content="<%= _titleize(_meta.params.page, { replacement: { _: '&' } }) %>" />
  <c:modal launch-icon="code" scroll size="lg" t:title="Source">
    <c:modal-body>
      <pre><code id="source-code" class="language-html"><%= source %></code></pre>
    </c:modal-body>
    <c:modal-footer>
      <c:btn color="primary" x-data @click="await wbs.copyToClipboard('#source-code')" t:content="Copy to Clipboard" />
      <c:btn color="secondary" dismiss t:content="Close" />
    </c:modal-footer>
  </c:modal>
</c:div>
